{% include("head.html") %}

    <!-- 
        Created by 이준석 ( HTML )
     -->
    첨삭 확인 페이지
    <!-- 로고 이미지 -->
      <p><select name="선생님"><option value="1">장태진선생님</option></select>께서 첨삭하신 내용입니다.</p>
      <select name="날짜"><option value="1">2018.04.14</option></select>
      <br>
      <table border = "1">
        <caption>1번. 당신은 밥을 얼마나 자주먹습니까?</caption>
        <tr><td>1. 저는 어릴쩍 가난하게 태어나 먹을 것에 욕심이 많았습니다.</td></tr>
        <tr><td>1. 저는 어릴 적에 가난한 집안에서 자라, 많이 먹질 못하여 먹을 것에 욕심이많았습니다.</td></tr>
        <tr><td>2. 그래서 저는 밥을 많이먹습니다.</td></tr>
        <tr><td>2. 수정된 내용이 없습니다.</td></tr>
      </table>

{% include("foot.html") %}
