{% include("head.html") %}

    <!-- 첨삭 신상 정보 선택 부분 -->
    <div class="personal">
      <select>
        <option selected>문재인</option>
        <option>박근혜</option>
        <option>이명박</option>
      </select>
      <label>님의</label>
      <select>
        <option selected>청와대</option>
        <option>구치소</option>
      </select>
      <label>자기소개서를 첨삭합니다.</label>
    </div>

    <br>

    <!-- 세부 내용 첨삭 -->
    <div>
      <h2>1. 학업에 기울인 노력과 경험에 대해 배우고 느낀점을 쓰시오.</h2>
      <iframe src="/iframe" width="100%" height="400px">
      </iframe>
    </div>

    <!-- 세부 내용 첨삭 -->
    <div>
      <h2>2. 배고플땐 주로 무엇을 먹나요?</h2>
      <iframe src="/iframe" width="100%" height="400px">
      </iframe>
    </div>

{% include("foot.html") %}
