{% include("head.html") %}

    <!-- 
        Created by 장태진
     -->
    <div>
        <select name="type" id="type">
            <option value="0">-- 선택해주세요 --</option>
            <option value="1">국민대학교</option>
            <option value="2">고려대학교</option>
            <option value="3">KAIST</option>
        </select>

    </div>

    <br>

    <h3>1. 이 과에 지원한 동기를 쓰시오.</h3>
    <div>
        <textarea name="" id="question_0" class="question" data="question_0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur excepturi corrupti repudiandae blanditiis aut dolore incidunt ad. Explicabo ipsa amet voluptates eos corporis vel quos quibusdam saepe id possimus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptates reprehenderit, excepturi aut praesentium dolorem? Illum corrupti ducimus nemo beatae autem eveniet veritatis earum delectus laboriosam cumque, ullam quam officiis.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente error aliquam incidunt rem exercitationem, magni nihil, tempore porro tenetur ut beatae ea quos vero et quisquam aliquid laborum. Ex, voluptatum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro magnam eum incidunt quae, maxime velit sed ullam ratione sequi quos quas debitis non vero nemo, suscipit consequatur repellendus delectus!</textarea>
    </div>
    <div class="countWord" data="question_0">
        1,322 / 1,500 자
    </div>

    <h3>2. 이 과에 지원한 동기를 쓰시오.</h3>
    <div>
        <textarea name="" id="question_1" class="question" data="question_1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur excepturi corrupti repudiandae blanditiis aut dolore incidunt ad. Explicabo ipsa amet voluptates eos corporis vel quos quibusdam saepe id possimus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptates reprehenderit, excepturi aut praesentium dolorem? Illum corrupti ducimus nemo beatae autem eveniet veritatis earum delectus laboriosam cumque, ullam quam officiis.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente error aliquam incidunt rem exercitationem, magni nihil, tempore porro tenetur ut beatae ea quos vero et quisquam aliquid laborum. Ex, voluptatum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro magnam eum incidunt quae, maxime velit sed ullam ratione sequi quos quas debitis non vero nemo, suscipit consequatur repellendus delectus!</textarea>
    </div>
    <div class="countWord" data="question_1">
        1,322 / 1,500 자
    </div>

    <h3>3. 이 과에 지원한 동기를 쓰시오.</h3>
    <div>
        <textarea name="" id="question_2" class="question" data="question_2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur excepturi corrupti repudiandae blanditiis aut dolore incidunt ad. Explicabo ipsa amet voluptates eos corporis vel quos quibusdam saepe id possimus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptates reprehenderit, excepturi aut praesentium dolorem? Illum corrupti ducimus nemo beatae autem eveniet veritatis earum delectus laboriosam cumque, ullam quam officiis.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente error aliquam incidunt rem exercitationem, magni nihil, tempore porro tenetur ut beatae ea quos vero et quisquam aliquid laborum. Ex, voluptatum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro magnam eum incidunt quae, maxime velit sed ullam ratione sequi quos quas debitis non vero nemo, suscipit consequatur repellendus delectus!</textarea>
    </div>
    <div class="countWord" data="question_2">
        1,322 / 1,500 자
    </div>

    <h3>4. 이 과에 지원한 동기를 쓰시오.</h3>
    <div>
        <textarea name="" id="question_3" class="question" data="question_3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur excepturi corrupti repudiandae blanditiis aut dolore incidunt ad. Explicabo ipsa amet voluptates eos corporis vel quos quibusdam saepe id possimus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptates reprehenderit, excepturi aut praesentium dolorem? Illum corrupti ducimus nemo beatae autem eveniet veritatis earum delectus laboriosam cumque, ullam quam officiis.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente error aliquam incidunt rem exercitationem, magni nihil, tempore porro tenetur ut beatae ea quos vero et quisquam aliquid laborum. Ex, voluptatum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro magnam eum incidunt quae, maxime velit sed ullam ratione sequi quos quas debitis non vero nemo, suscipit consequatur repellendus delectus!</textarea>
    </div>
    <div class="countWord" data="question_4">
        1,322 / 1,500 자
    </div>

    <script>
        function count() {
            var objs = $("textarea.question");
            for(i=0;i<objs.length;i++) {
                var code = objs.eq(i).attr("data");
                var s = "" + objs.eq(i).val().length + "/" + "1500";
                if(objs.eq(i).val().length > 1500) {
                    s = "<span> 1,500자를 초과하였습니다. </span>" + s;
                }
                $(".countWord[data='" + code + "']").html(s);
            }
        }
        count();
        $("textarea.question").keyup(function() {
            count();
        });
    </script>
{% include("foot.html") %}
